header{
	height : 8%;
	position: right;
	background-color: transparent;
	width: 20%;
}
body{
	width: 80%;
	margin: 0 auto;
	height: 80%;
    color : white;
    background-image:  url("./Samurail77.jpg");
	text-align : justify;
}
a{color : yellow;}
nav{
	color: white;
}
img{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
video{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
