header{
	height : 20%;
	position:fixed;
	background-color: transparent;
	width: 20%;
}
body{
	width: 80%;
	margin: 10;
	height: 80%;
    color : white;
    background-image:  url("./Samurail77.jpg");
	text-align : justify;
}
a{color : yellow;}
nav{
	color: white;
}
img{
	width: 80%;
}
